@import "../../assets/styles/variables.scss";
@import "../../assets/styles/landing/landing-sections.scss";
@import "../../assets/styles/landing/background-animated.scss";
@import "../../assets/styles/utilities/utils.scss";

$onebg: lightblue;
$twobg: darkslateblue;

.section {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.section_underlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.visual_blob {
  position: absolute;
  animation: rotation 18s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
