@import "../assets/styles/variables.scss";

.viewport_container {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 100;

  .outlet_container {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
  }
}

.footer {
    position:relative;
    height: 460px;
    border-top: 2px solid #ccc;
}
